# ============================================
# Système
# ============================================

.DS_Store
Thumbs.db
Desktop.ini

# ============================================
# Journaux
# ============================================

*.log

# ============================================
# Variables d'environnement
# ============================================

.env
.env.*

# ============================================
# Dépendances
# ============================================

node_modules/
vendor/

# ============================================
# IDE
# ============================================

.vscode/settings.json
.idea/

# ============================================
# Archives
# ============================================

*.zip

# ============================================
# Fichiers temporaires
# ============================================

*.tmp
*.bak